<form action="/signing" method="POST" class="popup-add__form">
    <div>
        <label class="popup-add__label" for="date">Data:</label>
        <input type="date" name="date" class="popup-add__input popup-add__input-date">
    </div>  
    <div>
        <label class="popup-add__label" for="title">Título:</label>
        <input type="text" name="title" class="popup-add__input">
    </div> 
    <div>
        <label for="areaText" class="popup-add__label">Mensagem: </label>
        <textarea class="popup-add__text-area" name="areaText" cols="30" rows="10"></textarea>
    </div>

    <button type="submit" class="popup-add__submit">Enviar</button>
</form>